body {
    background-color: #242424;
    overflow-x: hidden;
    padding-right: 16px;
}
td {
    color: white
}
.reponame {
    text-transform: lowercase;
}
.reponame::first-letter {
    text-transform: uppercase;
}
